extends ./layout.jade

block content
	.container
		h2 Please select a class:

		form.form-horizontal(role='form', action="/discussion", method="post", required)
			.form-group
				label.control-label.col-sm-2 Department name:
				.col-sm-10
					select(class="form-control", id="listOfDepartment", name="departmentCode")
						- each departmentName, departmentCode in listOfDepartment
							option(value="#{departmentCode}")
								| #{departmentName}

			.form-group
				label.control-label.col-sm-2 Class number:
				.col-sm-10
					input.form-control(type='number', placeholder='Enter class number', min="1", max="999", name="classNumber", id="classNumber", required)
			.form-group
				.col-sm-offset-2.col-sm-10
					button.btn.btn-primary(type='submit') Go to Discussion Thread


		- if(discussionsByYou)
			hr
			- if(discussionsByYou.length > 0)
				h3(style="color: green;") List of discussion posts by you:

				- each discussionItem in discussionsByYou
					div(class="panel panel-default")
						div(class="panel-heading", style="font-weight: bold;")
							- if (discussionItem.discussionApprove)
								span(class="label label-success") Approved
							- else
								span(class="label label-danger") Unapproved
							|  posted on #{moment(new Date(discussionItem.discussionDate)).format('MM/DD/YYYY - hh:mm')} by 
							a(href="/profile/#{user.hashcode}") #{discussionItem.initial} 
							| for #{discussionItem.className}
							a(class="btn btn-danger pull-right", href="/discussion/deletediscussion/#{discussionItem.discussionUID}")
								| Delete
							.clearfix
						div(class="panel-body")
							| !{discussionItem.discussionText}
			- else
				h3(style="color: red;") You have not posted in any discussion thread!
