extends ./layout.jade

block content
	.container
		h2 Account information:

		form(role="form", action="/accountUpdate", method="post", required, enctype="multipart/form-data")
			.col-md-8
				div.form-group
					label First Name:
					input.form-control(type="text", placeholder="Enter First Name", name="firstName", autofocus="", value="#{user.firstName}", required, pattern="[A-Za-z]*", title="Alphabetic characters only")
				div.form-group
					label Last Name:
					input.form-control(type="text", placeholder="Enter Last Name", name="lastName", autofocus="", value="#{user.lastName}", required, pattern="[A-Za-z]*", title="Alphabetic characters only")
				div.form-group
					label Email:
					input.form-control(type="email", placeholder="Enter Email", name="email", required, pattern="[A-Za-z0-9]*\@uwm.edu", title="@UWM.edu emails only", value="#{user.email}", disabled)
				div.form-group
					label Password:
					input.form-control(type="password", placeholder="Enter Password", name="password", required, pattern="[A-Za-z0-9!@#$%^&*-].{8,16}", title="Must contain at least one number, one uppercase letter, one lowercase letter, between least 8 to 16 characters long and at least one special character ! @ # $ % ^ & * -", value="#{user.password}")

				h4 Extended Account Information (not required):

				div.form-group
					label Major:
					input.form-control(type="text", placeholder="Major", name="major", value="#{user.extendedProfile.major}")
				div.form-group
					label Bio (140 characters):
					textarea.form-control(maxlength="140", name="bio", placeholder="Biography")
						| #{user.extendedProfile.bio}
				div.form-group
					label linkedin:
					input.form-control(type="url", placeholder="Linkedin", name="linkedin", value="#{user.extendedProfile.linkedin}")
				div.form-group
					label Twitter:
					input.form-control(type="url", placeholder="Twitter", name="twitter", value="#{user.extendedProfile.twitter}")
				div.form-group
					label Facebook:
					input.form-control(type="url", placeholder="Facebook", name="facebook", value="#{user.extendedProfile.facebook}")
				div.btn-group
					button.btn.btn-primary(type="submit", autofocus) Update account information
					a.btn.btn-default(href="/profile/#{user.hashcode}") View profile as other users
			.col-md-4.hidden-xs
				- if (user.extendedProfile.profile_image && user.extendedProfile.profile_image == true)
					img(src="profile_image/#{user.extendedProfile.filename}", class="img-rounded", width="304", height="236")
				- else
					canvas(data-jdenticon-hash="#{user.hashcode}", class="img-rounded", width="304", height="236")

				hr

				.fileinput.fileinput-new(data-provides='fileinput')
					span.btn.btn-default.btn-file
						btn-group
							input(class="btn btn-default", type="file", accept="image/*", name="image")
							- if (user.extendedProfile.profile_image)
								a(class="btn btn-danger", href="profile_image/#{user.extendedProfile.filename}/delete")
									| Delete Image
