extends ./layout.jade

block content
	.container
		h2 Classs Discussions for #{className}:

		- if (countError)
			.alert.alert-danger(role='alert')
				a.alert-link(href='#') You have over 1000 characters in your discussion post

		button.pull-right.btn.btn-success(type='button', data-toggle='modal', data-target='#myModal')
			| List of enrolled users		

		h3(style="color: green;") Post a discussion:

		form(role="form", action="/postdiscussion/#{departmentCode}/#{classNumber}", method="post", novalidate)
			div.form-group
				label Discussion Text (1000 characters, maximum):
				textarea(name="discussionText", required, id="discussionText")
					- if(!defaultText)
						| Enter a discussion item (1000 characters, maximum)
					- else
						| !{defaultText}
			div.btn-group
				button.btn.btn-primary(type="submit") Post Discussion
					span#discussionTextCharacterCount

		- if (discussionsByClass) 
			hr
			- if (discussionsByClass.length > 0)
				h3(style="color: green;") List of discussions posts by class:

				- each discussionItem in discussionsByClass
					div(class="panel panel-default")
						div(class="panel-heading", style="font-weight: bold;")
							- if (discussionItem.discussionApprove)
								span(class="label label-success") Approved
							- else
								span(class="label label-danger") Unapproved
							|  posted on #{moment(new Date(discussionItem.discussionDate)).format('MM/DD/YYYY - hh:mm')} by 
							a(href="/profile/#{discussionItem.user.hashcode}") #{discussionItem.initial} 
							|  for #{discussionItem.className}
							- if (discussionItem.userSelf)
								a(class="btn btn-danger pull-right", href="/discussion/#{departmentCode}/#{classNumber}/deletediscussion/#{discussionItem.discussionUID}")
									| Delete
							.clearfix

						div(class="panel-body")
							| !{discussionItem.discussionText}



				#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
					.modal-dialog.modal-lg(role='document')
						.modal-content
							.modal-header
								button.close(type='button', data-dismiss='modal', aria-label='Close')
									span(aria-hidden='true') ×
								h4#myModalLabel.modal-title List of enrolled users
							.modal-body
								- if (usersEnrolled && usersEnrolled.length === 0)
									h4(style="color: red;") As of now, no one has registerd in this class
								- else if (usersEnrolled && usersEnrolled.length > 0)
									ul
									- each usersEnrolledItem in usersEnrolled
										li
											a(href="/profile/#{usersEnrolledItem.hashcode}")= usersEnrolledItem.firstName + " " + usersEnrolledItem.lastName 

							.modal-footer
								button.btn.btn-default(type='button', data-dismiss='modal') Close

			- else
				h3(style="color: red;") There is no discussion post for #{className}
