extends ./layout.jade

block content
	.container
		h3(style="color: green;") Post a news/advice:

		form(role="form", action="/submitnews", method="post", required)
			div.form-group
				label News/Advice Text (140 characters, Twitter style):
				textarea.form-control(type="text", placeholder="Enter a news/advice item (140 characters)", name="newsText", autofocus="", required, maxlength="140")
			div.btn-group
				button.btn.btn-primary(type="submit") Post News/Advice
		
		hr
		
		h3(style="color: green;") List of news/advice posted by you (in chronological order):
		- each item in news
			div(class="panel panel-default")
				div(class="panel-heading", style="font-weight: bold;")
					- if (item.newsApprove)
						span(class="label label-success approve") Approved
					- else
						span(class="label label-danger approve") Unapproved
					| Posted on #{moment(new Date(item.newsDate)).format("MM/DD/YYYY - hh:mm")} by 
					a(href="profile/#{item.user.hashcode}") #{item.initial}
					a(class="btn btn-danger pull-right", href="postnews/#{item.newsUID}/deletenews")
							| Delete
					.clearfix
						
				div(class="panel-body")
					| #{item.newsText}
